<div id="side-panel">
    <button id="sort-button-text" class="sort-button" data-action="sort" data-dir="asc" data-sortby="name" title="Sort by name"
            hx-get="{% url 'quotes:author_list' %}"
            hx-target="#author-list"
            hx-swap="innerHTML"
            hx-include="#filters">
        <i class="case-sensitive" data-lucide="case-sensitive"></i>
        <i class="sort-asc" data-lucide="arrow-up-narrow-wide"></i>
        <i class="sort-desc" data-lucide="arrow-down-wide-narrow"></i>
    </button>
    <button id="sort-button-author" class="sort-button" data-action="sort" data-dir="asc" data-sortby="nationality" title="Sort by nationality"
            hx-get="{% url 'quotes:author_list' %}"
            hx-target="#author-list"
            hx-swap="innerHTML"
            hx-include="#filters">
        <i class="user-round-pen" data-lucide="map-pin"></i>
        <i class="sort-asc" data-lucide="arrow-up-narrow-wide"></i>
        <i class="sort-desc" data-lucide="arrow-down-wide-narrow"></i>
    </button>
    <button id="sort-button-mood" class="sort-button" data-action="sort" data-dir="asc" data-sortby="num_quotes" data-dir="asc" title="Sort by number of quotes"
            hx-get="{% url 'quotes:author_list' %}"
            hx-target="#author-list"
            hx-swap="innerHTML"
            hx-include="#filters">
        <i class="smile" data-lucide="book-open-text"></i>
        <i class="sort-asc" data-lucide="arrow-up-narrow-wide"></i>
        <i class="sort-desc" data-lucide="arrow-down-wide-narrow"></i>
    </button>
    <button id="sort-button-likes" class="sort-button" data-action="sort" data-dir="asc"data-sortby="total_likes" data-dir="asc" title="Sort by number of likes"
            hx-get="{% url 'quotes:author_list' %}"
            hx-target="#author-list"
            hx-swap="innerHTML"
            hx-include="#filters">
        <i class="heart-plus" data-lucide="heart-plus"></i>
        <i class="sort-asc" data-lucide="arrow-up-narrow-wide"></i>
        <i class="sort-desc" data-lucide="arrow-down-wide-narrow"></i>
    </button>
</div>