{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-panel content-panel--wide">
    <div class="header">
        <h1>Delete Account</h1>
        <p class="info-text">Are you sure you want to proceed?</p>
        <p class="info-text">This will permanently terminate your Tidbits account and cannot be undone.</p>
        <form method="POST" action="{% url 'accounts:close_account' %}">
            {% csrf_token %}
            <button class="button-style">Yes, close account</button>
            <a class='button-style' href="{% url 'accounts:profile' %}">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}