{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Quotes App</title>
    <link rel="stylesheet" href="{% static 'accounts/css/base_landing.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/forms.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Merienda:wght@300..900&family=Onest:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Merienda, Manrope, Onset, Plus Jakarta Sans, Space Grotesk, Urbanist -->
    {% block head %}
    {% endblock %}
</head>
<body>
    <main id="content-cell">
        {% block content %}
        {% endblock %}
    </main>
    <section id="bg-cell">
        <img src="{% static 'accounts/images/library-nook.jpg' %}" alt="Library">
    </section>
</body>
</html>

