{% extends "accounts/base_landing.html" %}
{% load static %}

{% block content %}

<div class="landing-box">
    <div class="header">
        <div class="logo">Tidbits<!-- <img src="img/icon.svg"> --></div>
        <h1>Create your account</h1>
        <p>It's quick and easy, just fill out the information:</p>
    </div>
    <div class="email-container">
        <h2>Email</h2>
        <input class="account-input" type="email" id="email" placeholder="john.doe@gmail.com">
    </div>
    <div class="password-container">
        <h2>Password</h2>
        <input class="account-input" type="password" id="password" placeholder="***********">
    </div>
    <div class="password-confirm-container">
        <h2>Confirm Password</h2>
        <input class="account-input" type="password" id="password-confirm" placeholder="***********">
    </div>
    <div class="submit-button-wrapper">
        <button class="submit-button">Create Account</button>
    </div>
    <div class="login-option-wrapper">
        <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
    </div>
</div>


{% endblock %}