{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'quotes/css/generic-list.css' %}">
<link rel="stylesheet" href="{% static 'quotes/css/quote-list.css' %}">
<link rel="stylesheet" href="{% static 'quotes/css/share-modal.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/user-profile.css' %}">
{% endblock %}

{% block content %}

<section class="left-panels">
    <div class="content-panel content-panel--wide" id="profile-details">
        <section class="left-panels" style="gap: 0;">
            <div class="header">
                <h1>Welcome back, <span id='nickname-inline'>{% include "accounts/components/nickname-view.html" %}</span></h1>
                <h2>Profile Details</h2>
            </div>

            <div class="field-box">
                <p class="info-text">ID</p>
                <p class="info-field">{{ user.username }}</p>
                <p class="info-text">Email</p>
                <p class="info-field">{{ user.email }}</p>
            </div>
        </section>
        <section class="right-panels" style="gap: 0; align-items: flex-end; color: #E11D487f;">
            <form method="post" action="{% url 'accounts:logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="link-style"><h1>Log out</h1></button>
            </form>
        </section>
    </div>
    <div class="content-panel content-panel--wide" id="user-submissions">
        <div id="subs-header" class="header">
            <button id="toggle-pending-subs">
                <h2>Current submissions</h2>
            </button>
            <span class="divisor"><i data-lucide="chevrons-left"></i><i data-lucide="chevrons-right"></i></span>
            <button id="toggle-past-subs">
                <h2>Past Submissions</h2>
            </button>
        </div>
        <div id="list-container">
            <div hx-get="{% url "quotes:user:submission_list" %}"
                 hx-vals='{"list_type": "pending"}'
                 hx-target="this"
                 hx-swap="outerHTML"
                 hx-trigger="load">
            </div>
        </div>
    </div>
</section>

<section class="right-panels">
    <div class="content-panel content-panel--narrow" id="change-password">
        <div class="header header-center">
            <h2>Change password</h2>
        </div>
        <div class="info-box">
            <p class="info-text">Use this option to alter your password. You must provide your current password in order to alter it.</p>
        </div>
        <div class="button-box">
            <a href="{% url 'accounts:password_change' %}" class="button-style">Change Password</a>
        </div>
    </div>

    <div class="content-panel content-panel--narrow" id="close-account">
        <div class="header header-center">
            <h2>Close account</h2>
        </div>
        <div class="info-box">
            <p class="info-text">You can permanently terminate your account should you wish. Your password is required for this process.</p>
        </div>
        <div class="button-box">
            <a href="{% url 'accounts:close_account' %}" class="button-style button-inverted-colors">Close Account</a>
        </div>
    </div>
</section>
{% endblock %}