{# quote_items_wrapper.html #}
<script>console.log("{{ moodTags }}")</script>
<script>console.log("{{ page }}")</script>
{% for quote in quotes %}
  <li class="quote-item"
      data-id="{{ quote.id }}"
      data-author='{{ quote.author }}'
      data-fulltxt='{{ quote.sentence }}'
      data-prevtxt='{{ quote.sentence|truncatechars:30 }}'>
    {% include "quotes/components/quote_detail.html" %}
  </li>
{% endfor %}

<div id="button-pagination-wrapper" hx-swap-oob="innerHTML">
    {% if nextPage %}
    <button id="show-more-button" class="show-more-button"
            hx-get="{% url 'quote_list' %}"
            hx-target="#quote-list"
            hx-swap="beforeend"
            hx-vals='{"initial": "0", "author": "{{ listAuthor }}", "page": "{{ nextPage }}"}'
            hx-include="#filters">
        <i data-lucide="chevrons-down"></i>
    </button>
    {% endif %}
</div>