<div class="quote-card"
    data-author ='{{ quote.author }}'
    data-previewtext='{{ quote.sentence|truncatechars:30 }}'>
    <section class="card-body">
        <div class="quote-text">{{ quote.sentence }}</div>
        <div class="quote-category"><span class="{{ quote.mood }}">{{ quote.mood }}</span></div>
    </section>
    <section class="card-footer">
        <div class="icon-box">
            <button class="footer-btn" data-func="copy"><i class="icon" data-lucide="clipboard-copy"></i></button>
            <button class="footer-btn" data-func="like"><i class="icon" data-lucide="heart"></i></button>
            <button class="footer-btn" data-func="fave"><i class="icon" data-lucide="star"></i></button>
            <button class="footer-btn" data-func="share"><i class="icon" data-lucide="share"></i></button>
        </div>
    </section>
    <div class="toast"></div>
</div>