<div class="quote-card">
    <section class="card-body">
        <div class="quote-text">{{ quote.sentence }}</div>
        <div class="quote-category"><span class="{{ quote.mood }}">{{ quote.get_mood_display }}</span></div>
    </section>
    <section class="card-footer">
        <div class="author-sig">
            {% if not listAuthor %}
                <p>— {{ quote.author }}<p>
            {% endif %}
        </div>
        <div class="icon-box">
            <!-- <span>likes: {{quote.likes}}</span> -->
            {% include 'quotes/components/quote_detail/like_button.html' %}
            <button class="footer-btn" data-func="copy"><i class="footer-icon" data-lucide="clipboard-copy"></i></button>
            <!-- <button class="footer-btn" data-func="like"><i class="icon" data-lucide="heart"></i></button> -->
            {% include 'quotes/components/quote_detail/favorite_button.html' %}
            <button class="footer-btn" data-func="share"><i class="footer-icon" data-lucide="share"></i></button>
        </div>
    </section>
    <div class="toast"></div>
    <script>lucide.createIcons();</script>
</div>