{% extends "accounts/base_landing.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/forms.css' %}">
{% endblock %}

{% block content %}



<div class="landing-box">

    <div class="header">
        <div class="logo">Tidbits<!-- <img src="img/icon.svg"> --></div>
        <h1>Password reset</h1>
    </div>

  {% if validlink %}
    <p style="text-align: center;">Please provide & confirm your new password.</p>

    <form method="post">
      {% csrf_token %}
        <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        
        <!-- Password Field -->
        <div class="password-container">
            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            <input id="{{ form.new_password1.id_for_label }}"
                   name="{{ form.new_password1.html_name }}"
                   placeholder="***********"
                   class="account-input"
                   type="password">
            {{ form.new_password1.errors }}
        </div>
        <!-- Confirm password Field -->
        <div class="password-confirm-container">
            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            <input id="{{ form.new_password2.id_for_label }}"
                   name="{{ form.new_password2.html_name }}"
                   placeholder="***********"
                   class="account-input"
                   type="password">
            {{ form.new_password2.errors }}
        </div>

        <div class="submit-button-wrapper">
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </form>
  {% else %}
    <p style="text-align: center;">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}

  </div>

{% endblock %}

