{% extends "base.html" %}

{% block content %}

<div class="content-panel">
    <h1>Password change</h1>
    <form method="post">
        {% csrf_token %}
        <p>Please enter your current password for security, then provide & confirm your new password.</p>
        <section class="info-box">

            <div class="form-row">
                <div class="form-field">
                    <p>{{ form.old_password.label_tag }} <a class="forgot-pw-link" href="{% url 'password_reset' %}">(Forgot your password?)</a></p>
                    <p>{{ form.old_password }}</p>
                </div>
                {{ form.old_password.errors }} <!-- <ul> .error-list -->
            </div>

            <div class="form-row">
                <div class="form-field">
                    <p>{{ form.new_password1.label_tag }}</p>
                    <p>{{ form.new_password1 }}</p>
                </div>
                {{ form.new_password1.errors }} <!-- <ul> .error-list -->
                <div class="form-field">
                    <p>{{ form.new_password2.label_tag }}</p>
                    <p>{{ form.new_password2 }}</p>
                </div>
                {{ form.new_password2.errors }}
                <div class="help-text">{{form.new_password1.help_text|safe }}</div>
            </div>

        </section>
        <div class="button-wrapper">
            <button type="submit" class="button-style">Submit</button>
        </div>
    </form>
</div>

{% endblock %}