:root {
  --bg-image: url('/static/images/bg/paper_bg.jpg');
  /* --bg-image: var(--gradient-bg); */
}

body {
    margin: 0;
    background: var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main, # */
#content {
    padding: 0 calc((100vw - 600px)/2) 0 10rem;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) 57px; /* side panel width 105px - gap 3rem (48px) */
    grid-template-rows: auto auto minmax(0, 1fr);
    grid-template-areas:"aHeader aHeader ."
                        "pBox lCont lCont"
                        ". lCont lCont";
    gap: 0 3rem;
}

#portrait-box {
    grid-area: pBox;
    position: sticky;
    /* Author-header height: 7rem + padding: 2rem+3rem */
    /* top: 12rem; */
    top: var(--header-offset, 0);
}

#header {
    grid-area: aHeader;
    position: sticky;
    top: 0;
    padding: 50px 10px 3rem 0;
    margin-right: -10px;
    z-index: 10;
    background: var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#author-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    height: 7rem;
    gap: 2em;
    padding: 1em;
    background-color: rgba(255, 255, 255, .8);
    border-bottom: 2px solid #333;
}

#list-container  { grid-area: lCont; }

/* === Header Section === */


.author-name {
    font-size: 2.5em;
}

.author-country {
    font-size: 1.5em;
}

/* === Body Section === */
.author-body {
  display: flex;

}
#sort-button-author {
    display: None;
}
/* === Portrait Box === */



#portrait-box img{
    display: block;
    max-width: 100%;
    min-width: 150px;
    height: auto;
}