/* Merienda, Manrope, Onset, Plus Jakarta Sans, Space Grotesk, Urbanist */

#browse-titlehead {
    position: sticky;
    top: 0;
    padding: 1em 0;
    display: flex;
    align-items: center;
    font-family: 'Merienda';
    font-size: 3em;
    color: #333;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8);
    z-index: 10;
    background: url('/static/images/bg/ls6.png');
    background-attachment: fixed;    /* keeps wallpaper fixed in viewport */
    background-position: center;    /* centers the image */
    background-repeat: no-repeat;   /* don't repeat the image */
    background-size: cover;
    pointer-events: none;
}

#browse-titlehead::before,
#browse-titlehead::after {
  content: '';
  border-bottom: double 4px white;
  margin: 0 1rem;
}
#browse-titlehead::before { flex: 1; }
#browse-titlehead::after  { flex: 4; }

