:root {
  --bg-image: inherit;
}

.portrait {
    border: 3px solid black;
    border-radius: 8px;
    width: 200px;
    height: 300px;
    float: left;
    margin: 1rem
}

.quotation {
    width: 910px;
    margin: 4vh auto 0 auto;
}

.quote-box, .signature-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signature-box {
    float: right;
}

.markers {
    position: absolute;
    /* width: 625px; */
    /* height: 325px; */
    width: 815px;
    height: 425px;
}

.mood-wrapper {
    position: absolute;
    top: 88%;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}

.quotation-text {
    position: absolute;
    color: #333;
    font-size: 1.75em;
    /* max-width: 450px; */
    max-width: 585px;
    word-wrap: normal;
}

.brush-panel {
    position: relative;
    /* width: 700px; */
    /* height: 350px; */
    width: 910px;
    height: 455px;
}

.signature-brush-panel {
    /* width: 400px; */
    /* height: 80px; */
    width: 520px;
    height: 105px;
    top: 5px;
    left: 20px;
}
/* === Overrides === */
/* == header-body-page.css overrides */
#titlehead {
    color: #333;
    text-shadow: -2px -2px 2px white, 2px -2px 2px white, -2px 2px 2px white, 2px 2px 2px white;
    /* text-shadow: 3px 3px 2px rgba(255, 255, 255, 1); */
}
/* == quote-list.css overrides */
.icon-box {
    position: absolute;
    top: 72%;
    right: 64%;
}

.quote-sentence{
    padding-right: 0;
    width: auto;
    border: none;
    overflow: inherit;
}

/* === Category Colors === */
.analytical {
    color:brown;
}
.humble {
    color:deepskyblue;
}
.silly {
    color:#FFBF00;
}
.motivational {
    color:darkseagreen;
}
.love {
    color:crimson;
}