.share-modal{
  background: white;
  position: absolute;
  max-width: 380px;
  padding: 1em;
  border-radius: 1em;
  top: 10%;
  max-width: 350px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 0.5em 1em rgba(0,0,0,0.1);
  transform: scale(1.2);
  transition: opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;
}

.share-modal.show{
  top: 10%;
  left: 50%;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;
}

.share-modal :is(header, .icon-box){
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share-modal header{
  padding-bottom: 0.5em;
  border-bottom: 2px solid #eee;
}

.share-modal header span{
  font-size: 1.5rem;
  font-weight: 600;
}

.share-modal :is(header .close, .icon-box a) {
  border-radius: 50%;
  height: 3rem;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: content-box;
  border: 1px solid transparent;
}

.share-modal header .close {
  color: #999;
  background: #eee;
  border: none;
  height: 2rem;
  width: 2rem;
}

.share-modal header .close:hover{
  background: #ddd;
  transform: scale(1.2);
}

.share-modal header .close svg {
  height: 1.5rem;
  width: 1.5rem;
}

.share-modal .body p{
    font-size: 1rem;
    padding: 5px 0px 5px 0px;
}

.share-modal :is(.body, .icon-box){
    margin-top: 0.5em;
}

.share-modal .icon-box .social-icon{
  height: 1.25rem;
  width: 1.25rem;
  transition: transform 0.3s ease-in-out;
}

.icon-box a:nth-child(1){
  fill: #0866ff;
  border-color: #8dbeff;
}
.icon-box a:nth-child(1):hover{
  background: #0866ff;
}
.icon-box a:nth-child(2){
    fill: #ff0069;
  border-color: #ef91a2;
}
.icon-box a:nth-child(2):hover{
  background: #ff0069;
}
.icon-box a:nth-child(3){
    fill: #000000;
  border-color: #000000;
}
.icon-box a:nth-child(3):hover{
  background: #000000;
}
.icon-box a:nth-child(4){
    fill: #25d366;
  border-color: #9cdea2;
}
.icon-box a:nth-child(4):hover{
  background: #25d366;
}
.icon-box a:nth-child(5){
    fill: #26a5e4;
  border-color: #8bcbe9;
}
.icon-box a:nth-child(5):hover{
  background: #26a5e4;
}

.icon-box a:hover svg{
    fill: #fff;
}
.icon-box a:hover {
  border-color: transparent;
}
.icon-box a:hover .social-icon{
  /* height: 2rem;
  width: 2rem; */
  transform: scale(1.5);
}