{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quotes/css/author-detail.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/generic-list.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/quote-list.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/share-modal.css' %}">
    <script type="module" src="{% static 'quotes/js/list-init.js' %}"></script>
{% endblock %}

{% block content %}

    <!-- Header row with name and nationality -->
    <div id="header">
        <div id="author-banner">
            <h1 class="author-name">{{ author.name }}</h1>
            <h1 class="author-country">{{ author.nationality }} 🇺🇸</h1>
        </div>
    </div>
    <!-- Author portrait -->
    <div id="portrait-box">
        <img src='/static/quotes/images/portrait/{{ author.name|slugify }}.jpg' alt="{{ author.name }}" width="275" height="450">
    </div>
    <!-- Quote list -->
    {% with BATCH_SIZE=4 %}
    {# data-batchsize: For JS pagination tracking. #}
    {# hx-vals batchsize: For view request pagination fetching. #}
    <div id="list-container">
        {% include 'quotes/quote_list.html' with author_id=author.id %}
        <input type="hidden" id="batchsize" name="batchsize" value="4">
    </div>
    {% endwith %}

{% endblock %}

<!--          -->
