{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quotes/css/author-detail.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/generic-list.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/quote-list.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/share-modal.css' %}">
    <script type="module" src="{% static 'quotes/js/quote-list.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Header row with name and nationality -->
    <div id="header">
        <div id="author-banner">
            <h1 class="author-name">{{ author.name }}</h1>
            <h1 class="author-country">{{ author.nationality }} 🇺🇸</h1>
        </div>
    </div>
    <!-- Author portrait -->
    <div id="portrait-box">
        <img src='/static/quotes/images/portrait/{{ author.slug }}.jpg' alt="{{ author.name }}" width="275" height="450">
    </div>
    <!-- Quote list -->
    <div id="list-container">
        {% include 'quotes/quote_list.html' with sort_panel=True %}
        <div id="list-const" class="hidden">
            <input type="hidden" name="batch_size" value="5">
            <input type="hidden" name="list_author" value="{{ author.slug }}">
        </div>
    </div>

{% endblock %}