{% extends 'quotes/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quotes/css/author-detail.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/quote-detail.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/share-modal.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/quote-list.css' %}">
    <script type="module" src="{% static 'quotes/js/list-init.js' %}"></script>
{% endblock %}

{% block content %}
<section class="author-container">
    <!-- Header row with name and nationality -->
    <div class="author-header">
        <h1 class="author-name">{{ author.full_name }}</h1>
        <h1 class="author-country">{{ author.nationality }} 🇺🇸</h1>
    </div>
    <!-- Content area with portrait and quotes -->
    <div class="author-body">
        <!-- Author portrait -->
        <div class="portrait-box">
            <img src='/static/quotes/images/portrait/{{ author.full_name|slugify }}.jpg' alt="{{ author.full_name }}" width="275" height="450">
        </div>
        <!-- Quote list -->
        <div id="list-container"
            hx-get="{% url 'quote_list' %}"
            hx-vals='{"author": "{{ author.id }}", "initial": "1"}'
            hx-trigger="load">
        </div>
    </div>
</section>
{% endblock %}
