{# author_list.html #}

<section id="list-top-cell">
<div id="filters" class="list-header"
    hx-get="{% url 'quotes:author_cards' %}"
    hx-target="#author-list"
    hx-swap="innerHTML"
    hx-trigger="keyup changed delay:300ms from:input[name='search']"
    hx-include="#filters, #view-state, #sort-tracker">
    <i class="search-icon" data-lucide="search"></i>
    <input type="text"
            class="search-bar"
            placeholder="Search"
            name="search">
    <div class="hidden-vars">
        <input type="hidden" name="sort_value" value="id">
        <input type="hidden" name="page_count" value="1">
        <input type="hidden" id="batchsize" name="batchsize" value="{{ batch_size }}">
    </div>
</div>
</section>
<section id="list-center-cell">
    <ul id="quote-list" class="object-list">
    </ul>
    <ul id="author-list" class="object-list">
        <div id="author-cards-standin"
            hx-get="{% url 'quotes:author_cards' %}"
            hx-target="this"
            hx-vals='{
                "batch_size": "{{ batch_size }}",}'
            hx-swap="outerHTML"
            hx-trigger="load">
        </div>
    </ul>
    <div id="show-more-button-wrapper">
        <button id="show-more-button" class="show-more-button" data-action="loadmore"
                hx-get="{% url 'quotes:author_cards' %}"
                hx-target="#author-list"
                hx-swap="beforeend"
                hx-include="#filters, #view-state, #sort-tracker">
            <i data-lucide="chevrons-down"></i>
        </button>
    </div>
</section>
<section id="list-right-cell">
    {% include 'quotes/components/author_list/sort_panel.html' %}
</section>
<script>lucide.createIcons();</script>