{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quotes/css/header-body-page.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/generic-list.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/author-list.css' %}">
    <script type="module" src="{% static 'quotes/js/author-list.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="header">
        <h1 id="titlehead" class="fancy-title"><span>Browse All Authors</span></h1>
    </div>
    <div id="list-container">
        {% include 'quotes/author_list.html' %}
        <div id="list-const" class="hidden">
            <input type="hidden" name="batch_size" value="8">
        </div>
    </div>
{% endblock %}
