{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quotes/css/browse-list.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/quote-detail.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/share-modal.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/quote-list.css' %}">
    <script type="module" src="{% static 'quotes/js/list-init.js' %}"></script>
    <script> window.BATCH_SIZE = 10;</script>
{% endblock %}

{% block content %}
<h1 id="browse-titlehead" class="fancy-title"><span>Browse All Quotes</span></h1>
<div id="list-container"  data-batchsize="5"
    hx-get="{% url 'quote_list' %}"
    hx-vals='{"author": "{{ author.id }}", "batchsize": "5"}'
    hx-trigger="load">
</div>
{% endblock %}
