{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quotes/css/browse.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/generic-list.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/quote-list.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/share-modal.css' %}">
    <script type="module" src="{% static 'quotes/js/list-init.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="header">
        <h1 id="browse-titlehead" class="fancy-title"><span>Browse All Quotes</span></h1>
    </div>
    <div id="list-container">
        {% include 'quotes/quote_list.html' %}
        <input type="hidden" id="batchsize" name="batchsize" value="4">
    </div>
{% endblock %}
