{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quotes/css/header-body-page.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/quote-list.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/daily-page.css' %}">
    <link rel="stylesheet" href="{% static 'quotes/css/share-modal.css' %}">
    <script type="module" src="{% static 'quotes/js/quote-card.js' %}"></script>
{% endblock %}

{% block background_styling %}{{ backgroundURL|safe }}{% endblock %}

{% block content %}
    <div id="header">
        <h1 id="titlehead" class="fancy-title"><span>Quote for {{ weekday }}, {{ day }} of {{ month }} - {{ year }}</span></h1>
    </div>

    <section class="quotation object-card">
        <div class="quote-box">
            <img class="brush-panel" src="{% static 'quotes/images/brush_strokes.png' %}" />
            <img class="markers" src="{% static 'quotes/images/markers.svg' %}" />
            <p class="quotation-text quote-sentence">{{ quote.sentence }}</p>
            {% include 'quotes/components/quote_card/button_container.html' %}
            <div class="mood-wrapper {{quote.mood}}">{{quote.mood|capfirst}}</div>
        </div>
        <div class="signature-box">
            <img class="brush-panel signature-brush-panel" src="{% static 'quotes/images/signature.png' %}" />
            <p class="quotation-text">— <a class="quote-author" href="{{ quote.author.get_absolute_url }}">{{ quote.author }}</a></p>
        </div>
            <div class="toast"></div>
        </div>
    {% include 'quotes/components/quote_card/share_modal.html' %}
    </section>


{% endblock %}