{# quote_list.html #}

<section id="list-top-cell">
    {% include 'quotes/components/quote_list/list_header.html' %}
</section>
<section id="list-center-cell">
    <ul id="quote-list" class="object-list"
        hx-get="{% url 'quotes:quote_list' %}"
        hx-include="#filters"
        hx-trigger="load">>
    </ul>
    <div id="show-more-button-wrapper">
        {% include "quotes/components/quote_list/show_more_button.html" %}
    </div>
</section>
<section id="list-right-cell">
    {% include 'quotes/components/quote_list/sort_panel.html' %}
</section>
<script>lucide.createIcons();</script>
{% include 'quotes/components/quote_detail/share_modal.html' %}