{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-panel content-panel--wide">
    <div class="header">
        <h1>Submit a quote</h1>
        <p class="info-text">Fill out the form to submit a quote for review!</p>
    </div>

    <form method="post">
        {% csrf_token %}
        <p class="info-text">
        <div class="field-box">

            <div class="field-row">
                <div class="field-wrapper">
                    <label for="{{ form.author_name.id_for_label }}">{{ form.author_name.label }}</label>
                    <input id="{{ form.author_name.id_for_label }}"
                        name="{{ form.author_name.html_name }}"
                        value="{{ form.initial.author_name.value|default:'' }}"
                        list="authors_list"
                        autocomplete="off"
                        placeholder="Enter an author's name..."
                        class="account-input"
                        style="font-family: inherit; font-size: inherit;">
                    <datalist id="authors_list">
                        {% for author in authors %}
                            <option value="{{ author.name }}">
                        {% endfor %}
                    </datalist>
                </div>
                {{ form.author_name.errors }}
                <div class="help-text">{{form.author_name.help_text|safe }}</div>
            </div>

            <div class="field-row">
                <div class="field-wrapper">
                    {{ form.sentence.label_tag }}
                    {{ form.sentence.as_widget }}
                </div>
                {{ form.sentence.errors }}
            </div>

            <div class="field-row">
                <div class="field-wrapper">
                    {{ form.mood.label_tag }}
                    {{ form.mood.as_widget }}
                </div>
                {{ form.mood.errors }}
            </div>

        </div>
        <div class="button-box">
            <button type="submit" class="button-style">Submit for Review</button>
        </div>
    </form>
</div>

{% endblock %}