<form id="nickname-form"
        hx-post="{% url 'update_nickname' %}"
        hx-target="#nickname-inline"
        hx-swap="innerHTML">
    {% csrf_token %}
    <input type="text"
            name="nickname"
            id="nickname-input"
            value="{{ request.user.nickname }}"
            maxlength="30"
            aria-label="Edit nickname"
            required>
    <button type="submit" id="nickname-form-save">Save</button>
    <button type="button"
            id="nickname-form-cancel"
            hx-get="{% url 'update_nickname' %}"
            hx-target="#nickname-inline"
            hx-swap="innerHTML"
            >Cancel</button>
</form>
<div id="nickname-error">{{ form.errors.nickname }}</div>