/* === Profile Boxes === */
.left-panels, .right-panels {
    display: flex;
    flex: 4;
    flex-direction: column;
    gap: 2rem;
}

.right-panels {
    flex: 1;
}

#profile-details {
    grid-area: pfdt;
    display: flex;
    align-content: space-between;
}
#change-password { grid-area: chpw; }
#close-account { grid-area: clacc; }
#user-submissions { grid-area: usub; }

/* === Submissions section === */
#past-subs-wrapper {
    margin-top: 1em;
}

#subs-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.mod-note {
    font-size: smaller;
    font-style: italic;
    color: #999;
}

.toggle-button {
    color: #ccc;
}

.active {
    color: #333;
}

.divisor {
    align-self: flex-end;
}

/* === Nickname edittable === */
#nickname-inline {
    color: #e36883;
}

#nickname-inline form {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

#nickname-input {
    width: 10ch;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #666;
}

#nickname-inline button {
    font-family: inherit;
    background: none;
    border: none;
    color: rgba(51, 51, 51, 0.5);
    font-size: 0.65em;
    cursor: pointer;
}

#nickname-inline button:hover {
    color: #666;
    text-decoration: underline;
}

/* === Lists override === */
.object-list {
    list-style: none;
    box-shadow: none;
}
.object-item {
    background-color: #f9f9f9;
    border: 2px solid;
    border-color: #333;
    margin-top: -2px;
    animation: none;
}

#list-top-cell {
    position: static;
    top: 0;
}

.search-bar {
    box-shadow: none;
    border: 2px solid;
}

.search-bar:focus {
    box-shadow: none;
}

#show-more-button-wrapper {
    margin-bottom: 0;
}

/* === Coloring of Submission Status === */
span.pending {
    color: orange;
    font-weight: bold;
}
span.approved {
    color: darkgreen;
    font-weight: bold;
}
span.rejected {
    color: red;
    font-weight: bold;
}